* {
    overflow: hidden;
}

.page-container {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.caixa {
    border-radius: 22px;
    background-color: #191A23;
    color: white;

    width: 70vw;
    min-width: 375px;
    max-width: 500px;

    height: 60vh;
    min-height: 400px;
    max-height: 800px;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 32px;
    padding-block: 42px;
}

.titulo {
    font-weight: 700;
    margin-bottom: 32px;
}

.descricao {
    text-align: justify;
    padding-inline: 26px;
}

.email-input {
    width: 80%;
}

.botoes {
    margin-top: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.enviar {
    width: 80%;
    background-color: #0071BB;
    color: white;
    border: 0px;
    border-radius: 16px;
    padding: 8px;
}

.enviar:hover {
    background-color: #005183;
}

.cancelar-container {
    width: 100%;
    text-align: center;
    margin-top: 22px;
}

.cancelar-container:hover {
    cursor: pointer;
}

.input-container {
    position: relative;
    margin: 12px 0 0 0;
    width: 70%;
}

.input-container input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.5s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
}
  