<link href="/static/css/politica-de-privacidade.css" rel="stylesheet">

{% extends "blueprint.html" %}

{% block title %}
    Politica de privacidade
{% endblock %}

{% block main %}

<div class="politica-container">
    <div class="politica-titulo">
        <h1>Política de Privacidade</h1>
    </div>
    <div class="politica-texto">
        <h3>Atualizado em: 01/01/2024</h3>
        <p>Esta Política de Privacidade descreve como as informações pessoais são coletadas, usadas e compartilhadas quando você utiliza nossos serviços em <a href="http://www.laserkiller.com.br" target="_blank">http://www.laserkiller.com.br</a>.</p>
    
        <h3>Informações Pessoais que Coletamos</h3>
        <p>Quando você utiliza o site, automaticamente coletamos certas informações sobre o seu dispositivo, incluindo informações sobre o seu navegador, endereço IP, fuso horário e algumas informações dos cookies que estão instalados em seu dispositivo. Adicionalmente, quando você realiza alguma ação no site, coletamos as informações inseridas, tais como [exemplos: nome, e-mail].</p>
    
        <h3>Como Usamos Suas Informações Pessoais</h3>
        <p>Utilizamos as informações coletadas para enviar informações, se você optou por recebê-las, e para analisar o desempenho do site e melhorar seu conteúdo.</p>
    
        <h3>Compartilhamento das Suas Informações Pessoais</h3>
        <p>Não compartilhamos suas informações pessoais com terceiros, a menos que seja necessário para fornecer um serviço solicitado por você.</p>
    
        <h3>Cookies</h3>
        <p>Cookies são arquivos de dados que são colocados no seu dispositivo ou computador e muitas vezes incluem um identificador único. Utilizamos cookies para melhorar a experiência do usuário e analisar o desempenho do site.</p>
    
        <h3>Seus Direitos</h3>
        <p>Se você tem o direito de acessar as informações pessoais que mantemos sobre você e de pedir que suas informações pessoais sejam atualizadas ou excluídas. Se desejar exercer esse direito, solicite a exclusão na aba “perfil”.</p>
    
        <h3>Mudanças na Política de Privacidade</h3>
        <p>Reservamos o direito de modificar esta política de privacidade a qualquer momento. As alterações e esclarecimentos terão efeito imediato após sua publicação no site. Se fizermos alterações materiais a esta política, iremos notificá-lo aqui que ela foi atualizada, para que você esteja ciente de quais informações coletamos, como as usamos e sob que circunstâncias, se houver, as utilizamos e/ou divulgamos.</p>
    
        <h3>Contato</h3>
        <p>Para mais informações sobre nossa política de privacidade, ou se você tiver dúvidas ou preocupações, entre em contato conosco através do <a href="mailto:contato@laserkiller.com.br">contato@laserkiller.com.br</a>.</p>
    
        <p>Ao usar este site, você concorda com a coleta e uso de informações conforme estabelecido nesta política de privacidade.</p>
    
        <p>LaserKiller&copy; <br> <a href="mailto:contato@laserkiller.com.br">contato@laserkiller.com.br</a></p>
    </div>
</div>

{% endblock %}