<link href="/static/css/relatorio.css" rel="stylesheet">

{% extends "blueprint.html" %}

{% block title %}
    Relatorio
{% endblock %}

{% block main %}
    <div class="relatorio-container">
        <div class="left">
            <form action="#" method="post" class="form-container">
                <div class="form-group">
                    <select id="report-type" name="report-type">
                        <option value="">Selecione o tipo</option>
                        <option value="">Simples</option>
                        <option value="">Completo</option>
                        <!-- Additional options will be added here -->
                    </select>
                </div>
                <div class="form-group">
                    <select id="class" name="class">
                        <option value="">Selecione a fazenda</option>
                        <option value="">Fazenda Experimental Unimar</option>
                        <!-- Additional options will be added here -->
                    </select>
                </div>
                <div class="form-group date-group">
                    <input type="date" id="start-date" name="start-date">
                    <input type="date" id="end-date" name="end-date">
                </div>
                <div class="form-group">
                    <button class="button-gerar" type="submit">Gerar</button>
                </div>
            </form>
        </div>
        <div class="right">
            <div class="green-div"></div>
            <div class="relatorio-table">
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Qntd. Ervas Detectadas</th>
                        <th>Porc. Ervas Detectadas</th>
                        <th>Situação</th>
                        <th>Risco</th>
                        <th>Download</th>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                    <tr>
                        <td>01/06/2024</td>
                        <td>07:28:32</td>
                        <td>14</td>
                        <td>22%</td>
                        <td>Bom</td>
                        <td>Baixo</td>
                        <td>Gerar</td>
                    </tr>
                </table>               
            </div>
        </div>
    </div>
{% endblock %}